<h1 id="profile-username"><%= @user.username.capitalize %> Statistics</h1>
<% @users_round = @user.rounds %>
<a href="/decks/new">Create A Deck</a>


<% @user.decks_played.distinct.each do |deck| %>
<div class="profile-stats">
  <% @rounds_for_deck = deck.rounds.where(user_id: session[:id], deck_id: deck.id) %>
  <h2 class="deck-name"><%= deck.name.upcase %></h2>
  <table class="stats">
    <tr>
      <th>Date</th>
      <th>Cards in Deck</th>
      <th>First Guess Correct</th>
      <th>Total Guesses</th>
    </tr>
      <% @rounds_for_deck.each do |round| %>
    <tr>
      <td><%= round.created_at.strftime("%D") %></td>
      <td><%= round.deck.cards.count %></td>
      <td><%= round.first_tries %></td>
      <td><%= round.total_guesses %></td>
    </tr>
      <% end %>
  </table>
</div>
<% end %>
