<img src="http://cache.reelz.com/assets/content/blogimages/chucknorris-MIA2.jpg">
<div class="card"
<h2><%= @card.deck.name %></h2>
<p><%= @card.question %></p>
  <% if @card.persisted? %>
  <form action="/decks/<%= @card.deck_id %>/cards/<%= @card.id %>" method="post">
 <!--    <input type="hidden" name="_method" value="put" /> -->
    <% else %>
    <form action="/cards/<%= @card.id + 1 %>" method="get">
  <% end %>
  <input type="text" name="guess" placeholder="true/false">
  <input type="submit">
</form>
</div>
