<div>
  <h2><%=@deck.name%></h2>
  <h4><%=@card.question%></h4>
  <form action="/decks/<%=@deck.id%>/play/<%=@card.id%>" method="get">
    Enter your guess here:
    <input type="text" name="answer">
    <input type="hidden" name="round_id" value=<%= "#{@current_round.id}" %>>
    <input type="submit" name="submit">
  </form>


</div>
